/* Estilos generales */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('./20289164_6254670.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*caa tranparente*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.582);
    z-index: -1;
}

.container, .resumen {
  position: relative;
  z-index: 1;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 20px;
}

/* Títulos */
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    margin-bottom: 30px;
    font-weight: bold;
}

/* Alertas */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

.alert-error {
    background-color: #fdecea;
    color: #e74c3c;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #e6f4ea;
    color: #2ecc71;
    border: 1px solid #c3e6cb;
}

/* Formulario */
#uploadForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
    padding: 25px;
    background: #cae4db;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

#jsonFile {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#uploadForm button {
    background: #3498db;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#uploadForm button:hover {
    background: #2980b9;
}

/* Gráficas */
.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.chart-container {
    background: #ddffe6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    transition: transform 0.2s;
}

.chart-container:hover {
    transform: translateY(-3px);
}

.chart-container h3 {
    margin-top: 0;
    color: #34495e;
    font-size: 18px;
    text-align: center;
}

hr{
  border: none;
  height: 4px;
  background: #000000;
  border-radius: 5px;
  margin: 30px 0;
}

/* Resumen */
.sub{
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    margin-bottom: 30px;
    font-weight: bold;
}
.resumen {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 2rem auto 1px auto;
  max-width: 1000px;
  padding: 1rem;
}

.card {
  background: #f1f8f5;
  border-left: 5px solid #4caf50;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-3px);
}

.card strong {
  display: block;
  color: #2e7d32;
  font-size: 0.95rem;
}

.card span {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}

.center-card {
  margin: 1px auto 2rem auto;     /* centra horizontalmente */
  width: 290px;          /* mismo ancho que las otras tarjetas */
}




